<ion-header>
  <ion-toolbar>
    <ion-title>Guess</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="width:100%">
    <div id="canvas-parent">
      <app-canvas #canvasComponent [drawable]='false'></app-canvas>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-label>{{word}}</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let l of answer">
        <ion-button (click)="pop(l)" [color]="color_answer">{{ l.l }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let l of letters1">
        <ion-button (click)="push(l)">{{ l.l }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let l of letters2">
        <ion-button (click)="push(l)">{{ l.l }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
