// button {
//     border-style: solid;
//     border-width: 2px;
//     width: 50px;
//     height: 50px;
//     text-align: center;
//     padding-left: 0;
//     padding-right: 0;
//     align-items: center;
//     display: flex;
//     justify-content: center;
//   }

  div {
    display : grid;
    grid-template-columns : 3fr;
  }
  
  .selected {
    border-width: 3px;
  }
  
  #color0{
      background-color: #2ecc71;}
  #color1{
      background-color: #3498db;}
  #color2{
      background-color: #9b59b6;}
  #color3{
      background-color: #e74c3c;}
  #color4{
      background-color: #e67e22;}
  #color5{
      background-color: #f1c40f;}
  #color6{
      background-color: #ffffff;}
  #color7{
      background-color: #825a2c;}
  #color8{
      background-color: #000000;}
  