<ion-header>
  <ion-toolbar>
    <ion-title>
      Start to draw !
    </ion-title>
    <ion-chip>
      <ion-label>{{score}}</ion-label>
      <ion-icon name="star"></ion-icon>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentPopover($event)" expand="block">
    <ion-icon name="add-circle-outline"></ion-icon>
    Start a new game
  </ion-button>
  <ion-list>
    <ion-list-header>
      <ion-label>Your turn</ion-label>
    </ion-list-header>
    <ion-item class="new_game" *ngFor="let game of yourTurn" (click)="gameService.play(game.game_id)">
      <ion-avatar slot="start">
        <img [src]="game.opp.photoUrl">
      </ion-avatar>
      <ion-label>{{game.opp.username}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Their turn</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let game of theirTurn">
      <ion-avatar slot="start">
        <img [src]="game.opp.photoUrl">
      </ion-avatar>
      <ion-label>{{game.opp.username}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Old games</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let game of pasts">
      <ion-avatar slot="start">
        <img [src]="game.opp.photoUrl">
      </ion-avatar>
      <ion-label>{{game.opp.username}}</ion-label>
      <ion-chip>
        <ion-label color="success">{{game.word}}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
