<ion-header>
  <ion-toolbar>
    <ion-title>
      Start to draw !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentPopover($event)" expand="block">
    <ion-icon name="add-circle-outline"></ion-icon>
    Start a new game
  </ion-button>
  <ion-list>
    <ion-list-header>
      <ion-label>Current games</ion-label>
    </ion-list-header>
    <ion-item class="new_game" *ngFor="let game of currGames">
      <ion-avatar slot="start">
        <img [src]="game.opp.photoUrl">
      </ion-avatar>
      <ion-label>{{game.opp.username}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
