// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.popover_class{
  --width: 90%;
}

.popover_color_class{
  --width: 210px;
}

.popover_size_class{
  --width: 70px;
}

.new_game:hover {
  --background: #F0EDE5 !important;
}

.cameraView {
  --background: transparent none !important;
  background: transparent none !important;
}

button {
  border-style: solid;
  border-width: 2px;
  width: 50px;
  height: 50px;
  margin-right: 2px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 25%;
}

.selected {
  border-width: 3px;
}